<style>
    .selected{
        background-color:#dae5f4;
    }
    .loader_in_css{top:20%;left:45%;position:absolute;z-index:1}
    #removed_data td{
        border-top:0px !important;
    }
   /* .table_color tr:nth-child(odd){
        background: #fff;
    }
    !*  Define the background color for all the EVEN background rows  *!
    .table_color tr:nth-child(even){
        background: #ccc;
    }*/
</style>
<div class="loader_in_css" ng-show="loader"><img src="images/loader.GIF"/></div>
<div ng-disabled="true">
    <div id="cover" ng-show="loader"></div>
<form
        name="AddNewContactForm"
        class="form-horizontal"
        role="form"
        novalidate>
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" ng-click="cancel()" aria-hidden="true">&times;</button>
        <h3 class="modal-title">Add Product</h3>
        <span class="pull-right">
        <small ng-show="noComponentsAdded" class="text-danger"><strong>Please add atleast one component</strong></small>
        </span>
    </div>
    <div class="modal-body">
        <div class="table-responsive">
            <input
                    class="pull-left form-control"
                    id="serialNumberId"
                    type="text"
                    style="width:280px;"
                    ng-model="searchGrid"
                    ng-keyup="(searchGrid.length >= 4) && loadAssetsList()"
                    placeholder="Enter first 4 characters serial number ..."/>
            <select class="pull-right form-control "
                    name="ProductType"
                    style="width:250px;"
                    ng-model="productsType.product"
                    ng-options="product as product.productGroupName for product in AddProdctGridList | unique: 'productGroupId'"
                    ng-disabled="!(AddProdctGridList.length>0)"
            >
                <option  value="" selected >All</option>
            </select>
        </div>
        <div class="table-responsive" style="margin-top:10px;height:200px;overflow-y: scroll;">

            <table class="table table-bordered table_color" >
                <thead >
                <tr>
                    <th>Serial Number</th>
                    <th>Product Line</th>
                </tr>
                </thead>
                <tbody >
                <tr ng-show="isEmptyArray"><td colspan="2" align="center" class="text-danger"><strong>No assets found. Please enter valid serial number</strong></td></tr>
                <tr ng-repeat="productList in AddProdctGridList | orderBy:'serialNumber' |filter:searchGrid |filter:{productGroupId:productsType.product.productGroupId}:true" ng-click="Selected_ProductLine(productList)" ng-class="{selected : productList.assetId === idSelectedVote}" style="cursor:pointer">
                    <td >{{productList.serialNumber}} </td>
                    <td>{{productList.productLineName}}</td>
                </tr>
                </tbody>
            </table>
            <div ng-hide="isEmptyArray || isArrayExist " id="productType_select" style="text-align: center;" class="text-danger"><strong>Please enter serial number</strong></div>
        </div>
        <hr style="color: #000;background-color: #000;height: 2px;" ng-show="prodJson.length>0">
        <div class="table-responsive" style="margin-top:10px;">
            <table class="table" id="removed_data" >
                <tbody>
                <tr  ng-repeat="products in prodJson" style="border-top:0px;" >
                    <td >{{products.serialNumber}} </td>
                    <td>{{products.productLineName}}</td>
                    <td><a style="cursor:pointer;" id="remove_listitem" ng-click="remove_line_item($index)">Remove</a></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="modal-footer">
        <div class="col-sm-12">
            <div class="col-sm-6"><button class="btn btn-primary pull-left" type="button" ng-click="addComponent()">Add Component</button></div>
            <div class="col-sm-6"><button class="btn btn-warning pull-right" type="button" ng-click="saveandClose()">Save and close</button></div>
        </div>
        <div class="col-sm-12" style="margin-top:5px;">
            <div class="col-sm-6"><button class="btn btn-primary pull-left" type="button" ng-click="AddProductnotListed()">Add Product not listed</button></div>
            <div class="col-sm-6"><button class="btn btn-warning pull-right" type="button" ng-click="saveandAnother()">Save and add another</button></div>
        </div>

    </div>
</form>
    </div>